@import '@/style/variables.scss';


.header{
    height: 7rem;
    background-color: #fff;
    border-bottom:var(--line);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;

    @media only screen and (max-width: $bp-smallest){
        flex-wrap: wrap;
        align-content: space-evenly;
        height: 11rem;
    }
}

.logo {
    height: 100%;
    width: auto;
    padding: .5rem;
    margin-left: 2rem;
}